# App
Config/database.php
Config/email.php
Config/settings.json
Vendor/Simpletest/
View/Themed/
webroot/uploads/
uploads/
*.bak
*.swp

# Cake cache
tmp/

# Others
.DS_Store
./Plugin/*
!./Plugin/Acl
!./Plugin/Extensions
!./Plugin/Example
!./Plugin/Install
!./Plugin/Translate
uploads/
Config/croogo.php
Plugin/Croogo/webroot/js/croogo-bootstrap.js
Plugin/Croogo/webroot/fontAwesome/
# Plugin/Croogo/webroot/font/
Plugin/Croogo/webroot/css/croogo-bootstrap.css
Plugin/Croogo/webroot/css/croogo-bootstrap-responsive.css
Plugin/Croogo/webroot/bootstrap/

# composer
Vendor/autoload.php
Vendor/bin/
Vendor/composer/
Vendor/phpunit/
Vendor/symfony/
