[submodule "Locale"]
	path = Locale
	url = git://github.com/croogo/locale.git
[submodule "SynchroDossier/webroot/bootstrap"]
	path = Plugin/SynchroDossier/webroot/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "Config/Recipes"]
	path = Config/Recipes
	url = git://github.com/occitech/capistrano-recipes
[submodule "Plugin/Chosen"]
	path = Plugin/Chosen
	url = git://github.com/paulredmond/chosen-cakephp.git
