# App
Config/database.php
Config/email.php
Config/settings.json
Vendor/Simpletest/
View/Themed/
webroot/uploads/
uploads/
*.bak
*.swp

# Cake cache
tmp/

# Others
.DS_Store
uploads/
Config/croogo.php

# plugins
Plugin/Ckeditor/
Plugin/Migrations/
Plugin/Search/
Plugin/Plupload/
Plugin/FileStorage/
Plugin/DebugKit/

# composer
Vendor/autoload.php
Vendor/bin/
Vendor/composer/
Vendor/phpunit/
Vendor/symfony/
Vendor/pear-pear.cakephp.org/
Vendor/croogo/
Vendor/knplabs/gaufrette/
